.container{
  margin-bottom: 5rem;
}

h1 {
  color: #555;
}

.oferta {
  margin-top: 1rem;
}

.oferta img {
  margin-top: 1rem;
  width: 390px;
  height: 240px;
}

.thumbnails {
   margin-top: 3rem;
}

.thumbnails img {
  width: 124px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btadc {
  margin: auto;
}
